[submodule "KiCad-Diff"]
	path = KiCad-Diff
	url = https://github.com/Gasman2014/KiCad-Diff
	branch = master
[submodule "plotkicadsch"]
	path = plotkicadsch
	url = git@github.com:jnavila/plotkicadsch.git
	branch = master
