
html, body {
	height : 100%;
	margin : 0px;
	font-size : 1em; /* Normalize view on firefox */
	line-height : 1.5em; /* Normalize view on firefox */
	caret-color: transparent;
}

.fill {
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
}

.no-gutters {
	margin-right: 0px;
	margin-left: 0px;
	> .col,
	> [class*="col-"] {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/* ==============================
   Commits List
   ==============================
*/

.list-group-item {
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-group input[type="checkbox"] {
	display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
	background-color: #222;
	color: #dbdbdb;
	font-family: monospace;
	padding: 1px;
	margin: 4px;
	border-radius: 5px;
}

.list-group input[type="checkbox"] + .list-group-item:before {
	color: transparent;
	font-weight: bold;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
	background-color: #111;
	color: #fff;
	border-radius: 5px;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
	color: inherit;
}

.removed_item {
	color: #FF0000;
}

.added_item {
	color: #00FF00;
}

.normal_item {
	color: #dbdbdb;
}

/* ==============================
   Scrollbar
   ==============================
*/

.scrollbox {
	overflow: auto;
	visibility: hidden;
}

.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
	visibility: visible;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
}

/* ==============================
   Toolbar buttons
   ==============================
*/

.btn-group input[type="radio"] {
	display: none;
}

.btn-group input[type="radio"] + .btn-group-item {
	font-family: monospace;
}

.btn-group input[type="radio"] + .btn-group-item:before {
}

/* ==============================
   Layers List
   ==============================
*/

.list-group input[type="radio"] {
	display: none;
}

.list-group input[type="radio"] + .list-group-item {
	background-color: #222222;
	color: #dbdbdb;
	font-family: monospace;
	padding: 2px;
	margin: 4px;
}

.list-group input[type="radio"] + .list-group-item:before {
	color: transparent;
	font-weight: bold;
}

.list-group input[type="radio"]:checked + .list-group-item {
	background-color: #111111;
	color: #FFF;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
	color: inherit;
}

/* ==============================
   ==============================
*/

#diff-container {
/*	border: 1px solid #111;*/
	margin-top: 15px;
	background-color: #000000;
	border-radius: 5px;
}

#svg-id {
/*	border: 1px solid #111;*/
	margin-top: 15px;
	border-radius: 5px;
}

/* Keep it separated for simple parsing */
#svg-id { background-color: #ffffff; }


/* ==============================
** ============================*/

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

label#layers, label#pages {
	margin-top: 0px;
	margin-bottom: 4px;
	white-space: nowrap;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align:top;
}

#server_offline {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	vertical-align: center;
	font-size: 5em;
	line-height: 100%;
}

#server_offline span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
/* ==============================
** ============================*/

a:link {
	color: #28a745;
}

a:visited {
	color: #28a745;
}

a:hover {
	color: #28a745;
}

a:active {
	color: #28a745;
}

#commit1_legend_hash {
	color: #28a745;
}
#commit2_legend_hash {
	color: #28a745;
}

/* ==============================
** ============================*/

.hidden_iframe {
	position:absolute; top:-1px; left:-1px; width:1px; height:1px;
	display: none;
}

.shortcut_col {
	width: 150px;
	text-align: right;
	padding-right: 15px;
}

.modal-content {
  background: #333;
}

hr {
	background-color: white;
	height: 1px;
	border: 0;
}

/*
  This trick is used to make icons from SVG files, they use the currentColor
*/
.icon-sheet-page, .icon-commits, .icon-control-sch, .icon-control-pcb, .icon-control-zin, .icon-control-zout, .icon-control-center,
.icon-control-info, .icon-commit1, .icon-commit1-fs, .icon-commit2, .icon-commit2-fs, .icon-commit3, .icon-commit3-fs,
.icon-sch-modif, .icon-pcb-modif, .icon-sheets, .icon-layers, .layer_color_margin, .icon-commit, .icon-x-modif {
	display: inline-block;
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.icon-sheet-page {
	margin-left: 0.5em;
	margin-right: 0.1em;
	width: 1em;
	height: 1em;
	--svg: url('./images/pages.svg');
}

.icon-commits {
	margin-left: 5px;
	margin-right:0.5em;
	width: 1em;
	height: 1em;
	--svg: url('./images/code-branch-solid.svg');
}

.icon-control {
	width: 20px;
	height: 20px;
}

.icon-control-sch, .icon-control-pcb, .icon-control-zin, .icon-control-zout, .icon-control-center, .icon-control-info {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0.2em;
}

.icon-control-sch {
	--svg: url('./images/schematics.svg');
}

.icon-control-pcb {
	--svg: url('./images/circuit-board.svg');
}

.icon-control-zin {
	--svg: url('./images/zoom-in.svg');
}

.icon-control-zout {
	--svg: url('./images/zoom-out.svg');
}

.icon-control-center {
	--svg: url('./images/center-to-fit.svg');
}

.icon-control-info {
	--svg: url('./images/info.svg');
}

.icon-commit1, .icon-commit1-fs, .icon-commit2, .icon-commit2-fs, .icon-commit3, .icon-commit3-fs {
	width: 10px;
	height: 10px;
	--svg: url('./images/square-solid.svg');
}

.icon-commit1, .icon-commit1-fs {
	margin-right: 0.2em;
}

.icon-commit1 {
	margin-left: 0.5em;
}

.icon-commit1-fs {
	margin-left: 0em;
}

.icon-commit1-color {
	color: #00FF00;
}

.icon-commit2, .icon-commit2-fs {
	margin-left: 1em;
	margin-right:0.2em;
	color: #FF0000;
}

.icon-commit2-color {
	color: #FF0000;
}

.commit-standalone-color {
	color: #A7A7A7;
}

.icon-commit3, .icon-commit3-fs {
	margin-left:1em;
	margin-right:0.2em;
	color: #FFA000;
}


.icon-sch-modif, .icon-pcb-modif, .icon-x-modif {
	padding-left: 0px;
	padding-right: 0px;
	width: 14px;
	height: 14px;
}

.icon-sch-modif {
	--svg: url('./images/schematics.svg');
	color: #A6E22E;
}

.icon-pcb-modif {
	--svg: url('./images/circuit-board.svg');
	color: #F92672;
}

.icon-x-modif {
	--svg: url('./images/x.svg');
	color: #FF0000;
}

.icon-sheets, .icon-layers {
	margin-right:0.5em;
	width: 20px;
	height: 20px;
}

.icon-sheets {
	--svg: url('./images/next-page.svg');
}

.icon-layers {
	--svg: url('./images/layers-solid.svg');
}

.layer_color_margin {
	margin-left:0.5em;
	margin-right:0.1em;
	width: 0.7em;
	height: 0.7em;
	--svg: url('./images/square-solid.svg');
}

.icon-commit {
	width: 1em;
	height: 1em;
	--svg: url('./images/commit.svg');
}

.commit-label {
	display: block;
	width: 640px;
	margin-left: 0px;
}

.commit-icon-cell {
	vertical-align: top;
	width: 1.8em;
}

.commit-info-cell {
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.commit-desc-cell {
	line-height: 0.7;
}

.ui-style {
	background-color: #333;
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 0px 10px 0px 10px;
	margin: 0px;
}

.ui-row-style {
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

.ui-col-prjdata {
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

.ui-list-prjdata {
	height: 95%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 8px;
}

.ui-list-topsep-prjdata {
	margin-top: 1em;
}

.ui-kiri-title {
	margin-left: 5px;
}

.ui-sch-title-m {
	margin-left: 5px;
}

.ui-pcb-title-m {
	margin-left: 5px;
}

.ui-sch-title {
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-pcb-title {
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-commits-list {
	padding: 0px 4px 8px 0px;
	margin: 0px;
	margin-right: 4px;
	overflow-y: scroll;
}

.ui-center {
	background-color: #333;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	height: 90vh;
}

.ui-center-row {
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

.ui-controls {
	width: 100%;
	flex: 1;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

.ui-controls-row {
	width: 100%;
	margin: 0px 0px 0px 5px;
}

.ui-pcb-sch-sel {
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 10px;
}

.ui-controls-sep1 {
	width: 2em;
}

.ui-controls-svg {
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 20px;
}

.ui-controls-sep2 {
	width: 1em;
}

.ui-controls-info {
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 20px;
}

.ui-canvas-out {
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

.ui-canvas-in {
	width: 100%;
	height: 90%;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

.ui-legend {
	background-color: #222;
	width: 100%;
	padding: 8px 5px 8px 5px;
	margin: 0px;
}

.ui-legend-sep1 {
	display: inline;
	width: 2em;
}

.ui-legend-sep1-fs {
	display: inline;
	width: 3em;
}

.ui-legend-sep2-fs {
	margin-left:1em;
	margin-right:0.2em;
}

.ui-view-item-fs {
	margin-left:1em;
	margin-right:0.2em;
}

.ui-fs-label {
	background-color: #333;
}

.ui-diff-container {
	height: 94%;
	padding: 0px;
}

.ui-sheets-col {
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	height: 100vh;
}

.ui-sheets-form {
	width: 180px;
	padding-top: 1em;
}

.ui-sheets-form-row {
	height: 85%;
	width: 300px;
}

.ui-sheets-form-col {
	height: 100%;
	width: 100%;
}

.ui-sheets-form-div {
	height: 100%;
	width: 100%;
	padding: 0px 0px 8px 0px;
	margin: 0px;
	overflow-y: scroll;
	max-height: 90vh;
}

.commit1, .commit2, .commit3 {
	display: inline;
}
