.layer_color_0 { color: #840000; }
.layer_color_1 { color: #C2C200; }
.layer_color_2 { color: #C200C2; }
.layer_color_3 { color: #C20000; }
.layer_color_4 { color: #008484; }
.layer_color_5 { color: #008400; }
.layer_color_6 { color: #000084; }
.layer_color_7 { color: #848484; }
.layer_color_8 { color: #840084; }
.layer_color_9 { color: #C2C2C2; }
.layer_color_10 { color: #840084; }
.layer_color_11 { color: #840000; }
.layer_color_12 { color: #848400; }
.layer_color_13 { color: #C2C2C2; }
.layer_color_14 { color: #000084; }
.layer_color_15 { color: #008400; }
.layer_color_16 { color: #840000; }
.layer_color_17 { color: #C2C200; }
.layer_color_18 { color: #C200C2; }
.layer_color_19 { color: #C20000; }
.layer_color_20 { color: #008484; }
.layer_color_21 { color: #008400; }
.layer_color_22 { color: #000084; }
.layer_color_23 { color: #848484; }
.layer_color_24 { color: #840084; }
.layer_color_25 { color: #C2C2C2; }
.layer_color_26 { color: #840084; }
.layer_color_27 { color: #840000; }
.layer_color_28 { color: #848400; }
.layer_color_29 { color: #C2C2C2; }
.layer_color_30 { color: #000084; }
.layer_color_31 { color: #008400; }
.layer_color_32 { color: #000084; }
.layer_color_33 { color: #840084; }
.layer_color_34 { color: #00C2C2; }
.layer_color_35 { color: #840000; }
.layer_color_36 { color: #840084; }
.layer_color_37 { color: #008484; }
.layer_color_38 { color: #848400; }
.layer_color_39 { color: #840084; }
.layer_color_40 { color: #C2C2C2; }
.layer_color_41 { color: #000084; }
.layer_color_42 { color: #008400; }
.layer_color_43 { color: #C2C200; }
.layer_color_44 { color: #C2C200; }
.layer_color_45 { color: #C200C2; }
.layer_color_46 { color: #848484; }
.layer_color_47 { color: #C2C2C2; }
.layer_color_48 { color: #000084; }
.layer_color_49 { color: #848484; }
.layer_color_50 { color: #000084; }
.layer_color_51 { color: #000084; }
.layer_color_52 { color: #000084; }
.layer_color_53 { color: #000084; }
.layer_color_54 { color: #000084; }
.layer_color_55 { color: #000084; }
.layer_color_56 { color: #000084; }
.layer_color_57 { color: #000084; }
.layer_color_58 { color: #000084; }
